/*이름 폰트*/
@font-face {
    font-family: 'PFStardust';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*favorites 폰트*/
@font-face {
    font-family: 'DepartureMono-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/DepartureMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin-top: 80px;
  justify-content: center;
  background-color: #fffcde;
}

h3 {
  font-family: 'PFStardust', sans-serif;
  font-size: 18pt;
}

.name {
  font-family: 'PFStardust', sans-serif;
  text-align: center;
  font-size: 30pt;
  margin-bottom: 0px;
}

.profile {
  justify-content: center;
  text-align: center;
}

.desc {
  margin-top: 0px;
  font-family: 'PFStardust', sans-serif;
  font-size: 18pt;
}

.favorites {
  background-color: white;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'DepartureMono-Regular', sans-serif;
}

.exercise {
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'DepartureMono-Regular', sans-serif;
}